/*
///////////////////////////////////////////////////////////////////////////////////////////////
// scss/utilities/_placeholders.scss :   placeholders for: links, images, headlines, nav items
///////////////////////////////////////////////////////////////////////////////////////////////
*/


///////////////////////////////////////////////////////////////////////////////////////////
// Helpers
///////////////////////////////////////////////////////////////////////////////////////////


// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


//For pseudo-elements
%pseudos {
  display: block;
  content: '';
  position: absolute;
}


// Center elements
%centered {
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

// Screen reader Text
.srt {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


///////////////////////////////////////////////////////////////////////////////////////////
// headlines
///////////////////////////////////////////////////////////////////////////////////////////
%headline-primary {
  font-size: em(30px);
  font-family: $font-family--primary;
  font-weight: $font-weight--ultra-bold;
  padding-left: em(10px);
  line-height: em(30px, 30px);
  margin-top: 0;
  margin-bottom: em(40px, 30px);
  @include media-query(medium) {
    text-align: center;
    padding-left: 0;
  }
}


%headline-secondary {
  font-size: em(16px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  line-height: em(24px, 16px);
  letter-spacing: $letter-space;
  margin-top: em(80px);
}


//////////////////////////////////////////////////////////////////////////////
// Buttons
//////////////////////////////////////////////////////////////////////////////
%buttons {
  padding: 15px;
  border-radius: $border-radius--default;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  text-align: center;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}


//////////////////////////////////////////////////////////////////////////////
// Images
//////////////////////////////////////////////////////////////////////////////
%image {
  display: block;
  max-width: 100%;
  @extend %centered;
  margin-top: em(40px);
}

//////////////////////////////////////////////////////////////////////////////
// Navigation
//////////////////////////////////////////////////////////////////////////////
%navigation-menu {
  // Base navigation styles
  @include bem(item){
    list-style-type: none;
    @extend %navigation-menu--horizontal;
    a {
      @extend %navigation-menu--link;
      color: palette(silver-chalace, dark);
      &:hover {
        @extend %navigation-menu--on;
      }
      &:focus {
        color: $white;
      }
    }
  }
  @include bem(horizontal, $selector--modifier) {
    // Navigation styles when tablet-size+
    @include media-query(medium) {
      display: inline-block;
      margin: 0 em(12px);
    }
  }
  @include bem(link, $selector--modifier) {
      // Base navigation link styles
      display: block;
      font-size: em(18px);
      font-weight: $font-weight--medium;
      text-align: center;
      text-decoration: none;
      padding-top: em(14px, 18px);
      padding-bottom: em(14px, 18px);
      border-radius: $border-radius--default;
  }
  @include bem(on, $selector--modifier) {
    color: $white;
    background-color: $color--primary;
  }
}


//////////////////////////////////////////////////////////////////////////////
// Panels
//////////////////////////////////////////////////////////////////////////////
%panel-default {
  padding-top: em(30px);
  padding-bottom: em(20px);
}

%panel-padding {
  padding-top: em(80px);
  padding-bottom: em(34px);
}
