///////////////////////////////////////////////////////////////////////////////////////////////
// scss/utilities/_placeholders.scss :   placeholders for: links, images, headlines, nav items
///////////////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////////////
// Helpers
///////////////////////////////////////////////////////////////////////////////////////////


// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


//For pseudo-elements
%pseudos {
  display: block;
  content: '';
  position: absolute;
}


// Center elements - todo: move to different file?
%centered {
  margin-left: auto;
  margin-right: auto;
}


// Screen reader Text
.srt {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


///////////////////////////////////////////////////////////////////////////////////////////
// headlines
///////////////////////////////////////////////////////////////////////////////////////////
%headline-primary {
  font-family: $font-family--primary;
  font-size: em(42px);
  line-height: em(46px / 42px);
  font-weight: $font-weight--ultra-bold;
  margin-bottom: em(70px, 42px);
  margin-top: 0;
}


%headline-secondary {
  font-family: $font-family--secondary;
  font-size: em(24px);
  font-weight: $font-weight--thin;
  letter-spacing: $letter-space;
}


//////////////////////////////////////////////////////////////////////////////
// Buttons
//////////////////////////////////////////////////////////////////////////////
%btn {
  padding: 15px;
  border-radius: $br--default;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  margin-top: em(12px);
  margin-bottom:  em(12px);
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}


//////////////////////////////////////////////////////////////////////////////
// Images
//////////////////////////////////////////////////////////////////////////////
%img {
  display: block;
  max-width: 100%;
  @extend %centered;
}


//////////////////////////////////////////////////////////////////////////////
// Panels
//////////////////////////////////////////////////////////////////////////////
%panel-default {
  padding-top: em(30px);
  padding-bottom: em(20px);
}

%panel-padding {
  padding-top: em(80px);
  padding-bottom: em(34px);
}
