///////////////////////////////////////////////////////////////
// scss/components/_grid.scss :  for grid system
///////////////////////////////////////////////////////////////

// Calculate grid columns
// todo: move in to mixin
@for $i from 1 through $grid-column-count {
  $context: grid-context($grid-column-width, $grid-column-count, $grid-gutter-width);
  $target: ($grid-column-width * $i) + ($grid-gutter-width * ($i - 1));
  .grid__col--#{$i} {
    width: percentage($target/$context);
  }
}
