//////////////////////////////////////////////////////////////////////
// scss/components/_grid.scss :  grid container for grid system
//////////////////////////////////////////////////////////////////////

.container {
  @extend %clearfix;
  @extend %centered;
  width: $max-width--container;
  // Make nested grid 100%
  [class*='grid__row'] {
    @extend %centered;
    width: 100%;
  }
}
.grid__col {
  @include media-query(medium) {
    @include grid--columns;
  }
}



// Column style
[class^='grid__col--'], [class^='btn--'] {
  margin-top: em(10px);
  margin-bottom:  em(10px);
}
