//////////////////////////////////////////////////////////////////////
// scss/components/_grid.scss :  grid container for grid system
//////////////////////////////////////////////////////////////////////

.container {
  @extend %clearfix;
  @extend %centered;
  width: 90%; // todo: change to config variable
  // Make nested grid 100%
  [class*='grid__row'] > & { // Target .grid containers inside columns
    width: 100%;
  }
  // Set max-width grid container - todo:  figure out how to get this in the mixin
  @include media-query('lg') {
    max-width: $grid-container-max-width;
  }
}
