/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_navigation.scss : Nav Menu styles
////////////////////////////////////////////////////////////////////////////////
*/


.nav {
  margin-top: em(20px);
  margin-bottom: em(30px);
  text-align: center;
  @extend .centered;
  @include bem(item) {
    @extend %navigation-menu__item;
  }
}
