/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_navigation.scss : Nav Menu styles
////////////////////////////////////////////////////////////////////////////////
*/


.nav {
  margin-top: em(40px);
  margin-bottom: em(80px);
  text-align: center;
  @extend %centered;
  @include bem(item) {
    @extend %navigation-menu__item;
  }
}
