/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_typography.scss : Font styles
////////////////////////////////////////////////////////////////////////////////
*/


// Main Container
.container {
  color: palette(silver-chalace, dark);
  font-size: em(18px);
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  @include media-query(large) {
    font-size: em(18px);
  }
}


// Grid Container
.grid {
  @include e(row) {
    // Paragraphs inside .grid_row
    p {
      margin-bottom: em(20px);
      line-height: em(27px, 18px);
    }
    @include media-query(medium){
      p {
        text-align: center;
      }
    }
  }
}


// Main Headlines
.headline {
  @include m(primary) {
    @extend %headline-primary;
    color: $color--primary;
  }
  @include m(secondary) {
    @extend %headline-secondary;
    color: palette(silver-chalace,light);
    margin-bottom: em(22px, 24px);
  }
}


// Links
.link {
  text-decoration: none;
  color: $color--secondary;
  font-weight: $font-weight--bold;
}


// Blockquote
.blockquote{
  font-size: em(21px);
  font-style: italic;
  border-left: 5px solid $color--primary;
  border-radius: em(5px);
  padding-left: em(10px);
}
