/*
////////////////////////////////////////////////////////////////////////////////
// scss/base/_base.scss : BASE STYLES
////////////////////////////////////////////////////////////////////////////////
*/

* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

ul {
  padding: 0;
}
